In [6]:
import pandas as pd
import csv

In [7]:
drought = pd.read_csv('../Datasets/Drought_2014.csv')

In [11]:
dat = []
with open('Chloropleth_Asylum_Data.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',', quotechar='"')
    for row in spamreader:
        dat.append(row)
        
asylum = pd.DataFrame(data=dat[1:], columns=dat[0])

In [12]:
asylum = pd.DataFrame(data=dat[1:], columns=dat[0])

In [20]:
coo = pd.read_csv('coo_cod.csv')

C:\Users\Ryan Abrahams\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (3,4,5,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
coo.columns

Index(['Year', 'Origin', 'Country / territory of asylum/residence',
       'Refugees (incl. refugee-like situations)',
       'Asylum-seekers (pending cases)', 'Returned refugees',
       'Internally displaced persons (IDPs)', 'Returned IDPs',
       'Stateless persons', 'Others of concern', 'Total Population'],
      dtype='object')

In [29]:
coo

,Year,Origin,Country / territory of asylum/residence,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,1990,Afghanistan,Pakistan,3.253e+06,NaN,19290,NaN,NaN,NaN,NaN,3272290
1,1990,Afghanistan,Iran (Islamic Rep. of),3.06111e+06,NaN,NaN,NaN,NaN,NaN,NaN,3061110
2,1990,Afghanistan,India,11946,NaN,2200,NaN,NaN,NaN,NaN,14146
3,1990,Afghanistan,United States of America,11488,NaN,NaN,NaN,NaN,NaN,NaN,11488
4,1990,Afghanistan,Italy,394,NaN,NaN,NaN,NaN,NaN,NaN,394
5,1990,Afghanistan,Sweden,378,NaN,NaN,NaN,NaN,NaN,NaN,378
6,1990,Afghanistan,Lebanon,300,NaN,NaN,NaN,NaN,NaN,NaN,300
7,1990,Afghanistan,United Kingdom,237,NaN,NaN,NaN,NaN,NaN,NaN,237
8,1990,Afghanistan,Denmark,192,NaN,NaN,NaN,NaN,NaN,NaN,192
9,1990,Afghanistan,China,50,NaN,NaN,NaN,NaN,NaN,NaN,50
10,1990,Afghanistan,Nepal,NaN,NaN,90,NaN,NaN,NaN,NaN,90
11,1990,Albania,Serbia and Kosovo (S/RES/1244 (1999)),680,NaN,NaN,NaN,NaN,NaN,NaN,680
12,1990,Albania,Italy,531,NaN,NaN,NaN,NaN,NaN,NaN,531
13,1990,Albania,United States of America,349,NaN,NaN,NaN,NaN,NaN,NaN,349
14,1990,Albania,Hungary,180,NaN,NaN,NaN,NaN,NaN,NaN,180
15,1990,Albania,Turkey,70,NaN,NaN,NaN,NaN,NaN,NaN,70
16,1990,Albania,Sweden,12,NaN,NaN,NaN,NaN,NaN,NaN,12
17,1990,Algeria,Sweden,13,NaN,NaN,NaN,NaN,NaN,NaN,13
18,1990,Algeria,United Kingdom,3,NaN,NaN,NaN,NaN,NaN,NaN,3
19,1990,Algeria,Italy,2,NaN,NaN,NaN,NaN,NaN,NaN,2
20,1990,Algeria,Denmark,1,NaN,NaN,NaN,NaN,NaN,NaN,1
21,1990,Angola,Dem. Rep. of the Congo,308242,NaN,7000,NaN,NaN,NaN,NaN,315242
22,1990,Angola,Zambia,99083,NaN,NaN,NaN,NaN,NaN,NaN,99083
23,1990,Angola,Botswana,160,NaN,NaN,NaN,NaN,NaN,NaN,160
24,1990,Angola,United States of America,133,NaN,NaN,NaN,NaN,NaN,NaN,133
25,1990,Angola,United Kingdom,81,NaN,NaN,NaN,NaN,NaN,NaN,81
26,1990,Angola,Italy,47,NaN,NaN,NaN,NaN,NaN,NaN,47
27,1990,Angola,Sweden,14,NaN,NaN,NaN,NaN,NaN,NaN,14
28,1990,Argentina,Sweden,275,NaN,NaN,NaN,NaN,NaN,NaN,275
29,1990,Argentina,Denmark,36,NaN,NaN,NaN,NaN,NaN,NaN,36
...,...,...,...,...,...,...,...,...,...,...,...
98909,2014,Zimbabwe,Australia,1020,163,NaN,NaN,NaN,NaN,NaN,1183
98910,2014,Zimbabwe,Botswana,946,43,55,NaN,NaN,NaN,NaN,1044
98911,2014,Zimbabwe,Ireland,157,263,NaN,NaN,NaN,NaN,NaN,420
98912,2014,Zimbabwe,Germany,47,38,NaN,NaN,NaN,NaN,NaN,85
98913,2014,Zimbabwe,New Zealand,47,*,NaN,NaN,NaN,NaN,NaN,50
98914,2014,Zimbabwe,Netherlands,45,7,NaN,NaN,NaN,NaN,NaN,52
98915,2014,Zimbabwe,Sweden,41,*,NaN,NaN,NaN,NaN,NaN,45
98916,2014,Zimbabwe,France,37,10,NaN,NaN,NaN,NaN,NaN,47
98917,2014,Zimbabwe,Namibia,32,68,NaN,NaN,NaN,NaN,NaN,100
98918,2014,Zimbabwe,Italy,27,*,NaN,NaN,NaN,NaN,NaN,30
98919,2014,Zimbabwe,Austria,23,*,NaN,NaN,NaN,NaN,NaN,23
98920,2014,Zimbabwe,Norway,23,*,NaN,NaN,NaN,NaN,NaN,23
98921,2014,Zimbabwe,Switzerland,14,5,NaN,NaN,NaN,NaN,NaN,19
98922,2014,Zimbabwe,Denmark,9,*,NaN,NaN,NaN,NaN,NaN,9
98923,2014,Zimbabwe,Egypt,8,11,NaN,NaN,NaN,NaN,NaN,19
98924,2014,Zimbabwe,Lesotho,7,NaN,NaN,NaN,NaN,NaN,NaN,7
98925,2014,Zimbabwe,Swaziland,7,NaN,NaN,NaN,NaN,NaN,NaN,7
98926,2014,Zimbabwe,Belgium,6,*,NaN,NaN,NaN,NaN,NaN,8
98927,2014,Zimbabwe,Zambia,6,*,NaN,NaN,NaN,NaN,NaN,8
98928,2014,Zimbabwe,Ecuador,5,NaN,NaN,NaN,NaN,NaN,NaN,5
98929,2014,Zimbabwe,Romania,5,*,NaN,NaN,NaN,NaN,NaN,5
98930,2014,Zimbabwe,Angola,NaN,*,NaN,NaN,NaN,NaN,NaN,*
98931,2014,Zimbabwe,Costa Rica,NaN,*,NaN,NaN,NaN,NaN,NaN,*
98932,2014,Zimbabwe,Cyprus,NaN,*,NaN,NaN,NaN,NaN,NaN,*
98933,2014,Zimbabwe,Czech Rep.,NaN,*,NaN,NaN,NaN,NaN,NaN,*
98934,2014,Zimbabwe,"China, Hong Kong SAR",NaN,*,NaN,NaN,NaN,NaN,NaN,*
98935,2014,Zimbabwe,Luxembourg,NaN,*,NaN,NaN,NaN,NaN,NaN,*
98936,2014,Zimbabwe,Morocco,NaN,*,NaN,NaN,NaN,NaN,NaN,*
98937,2014,Zimbabwe,Turkey,NaN,*,NaN,NaN,NaN,NaN,NaN,*
98938,2014,Zimbabwe,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,116,116