In [93]:
# Hacking together the Bubble Plot Datasets

import pandas as pd
import numpy as np
import pprint
import json

In [10]:
coo_cod_df = pd.read_csv("COO_v_COD_90_14.csv", encoding="ISO-8859-1")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
coo_cod_df.head()

,Year,Origin,Country / territory of asylum/residence,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,1990,Afghanistan,Pakistan,3.253e+06,NaN,19290,NaN,NaN,NaN,NaN,3272290
1,1990,Afghanistan,Iran (Islamic Rep. of),3.06111e+06,NaN,NaN,NaN,NaN,NaN,NaN,3061110
2,1990,Afghanistan,India,11946,NaN,2200,NaN,NaN,NaN,NaN,14146
3,1990,Afghanistan,United States of America,11488,NaN,NaN,NaN,NaN,NaN,NaN,11488
4,1990,Afghanistan,Italy,394,NaN,NaN,NaN,NaN,NaN,NaN,394

In [29]:
#coo_cod_df = coo_cod_df.loc[coo_cod_df["Year"]==2014, :]
#list = ["Afghanistan", "Eritrea", "Colombia", "Iraq", "Somalia", "Central African Rep."]
#coo_cod_KeyCountries = coo_cod_df.loc[(coo_cod_df["Origin"] == "Afghanistan") | (coo_cod_df["Origin"]=="Eritrea") 
#                                      | (coo_cod_df["Origin"]=="Colombia") | (coo_cod_df["Origin"]=="Iraq") |
#                                      (coo_cod_df["Origin"]=="Somalia") |  (coo_cod_df["Origin"]=="Central African Rep."), :]

#coo_cod_KeyCountries.head()

coo_cod_KeyCountries.reset_index(inplace=True, drop=True)

coo_cod_KeyCountries.head()

,Year,Origin,Country / territory of asylum/residence,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,2014,Afghanistan,United Arab Emirates,*,*,NaN,NaN,NaN,NaN,NaN,*
1,2014,Afghanistan,CíÇte d'Ivoire,*,*,NaN,NaN,NaN,NaN,NaN,*
2,2014,Afghanistan,Colombia,*,*,NaN,NaN,NaN,NaN,NaN,*
3,2014,Afghanistan,Costa Rica,*,NaN,NaN,NaN,NaN,NaN,NaN,*
4,2014,Afghanistan,Cayman Islands,*,NaN,NaN,NaN,NaN,NaN,NaN,*

In [58]:
# Sort through the Key Countries
#coo_cod_Keys = coo_cod_KeyCountries[["Origin", "Country / territory of asylum/residence", "Refugees (incl. refugee-like situations)", "Total Population"]]
#coo_cod_Keys.head()

#coo_cod_Keys = coo_cod_Keys.rename(columns={"Country / territory of asylum/residence": "Destination", "Refugees (incl. refugee-like situations)": "Refugees(and refugee-like)", "Total Population": "Total Pop"})
#coo_cod_Keys.head()

coo_cod_Keys = coo_cod_Keys.replace('NaN', '0')
coo_cod_Keys.head()

        Origin           Destination Refugees(and refugee-like) Total Pop
0  Afghanistan  United Arab Emirates                          0         0
1  Afghanistan        CíÇte d'Ivoire                          0         0
2  Afghanistan              Colombia                          0         0
3  Afghanistan            Costa Rica                          0         0
4  Afghanistan        Cayman Islands                          0         0

In [60]:
coo_cod_Keys["Refugees(and refugee-like)"] = pd.to_numeric(coo_cod_Keys["Refugees(and refugee-like)"])
coo_cod_Keys = coo_cod_Keys.sort_values(['Origin', 'Refugees(and refugee-like)'], ascending=[True, False])
coo_cod_Keys.head(30)

,Origin,Destination,Refugees(and refugee-like),Total Pop
20,Afghanistan,Pakistan,1504912.0,1523363
21,Afghanistan,Iran (Islamic Rep. of),950000.0,954545
22,Afghanistan,Germany,27814.0,46837
23,Afghanistan,Sweden,12090.0,14353
24,Afghanistan,Austria,11906.0,11906
25,Afghanistan,India,10395.0,11908
26,Afghanistan,United Kingdom,9039.0,10933
27,Afghanistan,Italy,8991.0,10769
28,Afghanistan,Australia,7675.0,9022
29,Afghanistan,Netherlands,6244.0,6543
30,Afghanistan,Norway,5454.0,6006
31,Afghanistan,Belgium,5038.0,5803
32,Afghanistan,Turkey,4188.0,37296
33,Afghanistan,Switzerland,4119.0,5006
34,Afghanistan,France,3838.0,4262
35,Afghanistan,Canada,2704.0,2894
36,Afghanistan,Denmark,2130.0,2274
37,Afghanistan,Tajikistan,1975.0,2227
38,Afghanistan,Indonesia,1681.0,5856
39,Afghanistan,Ukraine,1544.0,3942
40,Afghanistan,Greece,1451.0,2225
41,Afghanistan,Finland,1443.0,1576
42,Afghanistan,Syrian Arab Rep.,1214.0,1465
43,Afghanistan,United States of America,1210.0,1622
44,Afghanistan,Russian Federation,1104.0,1338
45,Afghanistan,Hungary,819.0,3442
46,Afghanistan,Azerbaijan,618.0,779
47,Afghanistan,Kazakhstan,578.0,614
48,Afghanistan,Belarus,399.0,419
49,Afghanistan,Kyrgyzstan,386.0,519

In [62]:
coo_cod_Keys.to_csv("Top_Five_Keys.csv")
# ideally you use pandas to slice the top 5 for each unique country

In [76]:
#Keys_df = pd.read_csv("Top_Five_Keys_cut.csv")
#Total_df = pd.read_csv("Chloropleth_Asylum_Data.csv", encoding="ISO-8859-1")
#Total_df["Country_Name"]= Total_df["Country_Name"].replace('Central African Republic', 'Central African Rep.')
#Keys_df_2 = Keys_df.merge(Total_df, left_on='Origin', right_on='Country_Name', how="left")
#Keys_df_2.head()
#del Keys_df_2['Pop_2014']
del Keys_df_2['Pct_Pop_Concern']
Keys_df_2.head()

,Origin,Destination,Refugees(and refugee-like),Total Pop,Country_Name,Total_Pop_of_Concern
0,Afghanistan,Pakistan,1504912,1523363,Afghanistan,3713242.0
1,Afghanistan,Iran (Islamic Rep. of),950000,954545,Afghanistan,3713242.0
2,Afghanistan,Germany,27814,46837,Afghanistan,3713242.0
3,Afghanistan,Sweden,12090,14353,Afghanistan,3713242.0
4,Afghanistan,Austria,11906,11906,Afghanistan,3713242.0

In [103]:
Keys_df_2['Pct_to_Dest'] = (Keys_df_2['Refugees(and refugee-like)'] / Keys_df_2['Total_Pop_of_Concern']) * 100
Keys_df_2["Refugees(and refugee-like)"] = pd.to_numeric(Keys_df_2["Refugees(and refugee-like)"])
Keys_df_2.head()

,Origin,Destination,Refugees(and refugee-like),Total Pop,Country_Name,Total_Pop_of_Concern,Pct_to_Dest
0,Afghanistan,Pakistan,1504912,1523363,Afghanistan,3713242.0,40.528250
1,Afghanistan,Iran (Islamic Rep. of),950000,954545,Afghanistan,3713242.0,25.584112
2,Afghanistan,Germany,27814,46837,Afghanistan,3713242.0,0.749049
3,Afghanistan,Sweden,12090,14353,Afghanistan,3713242.0,0.325591
4,Afghanistan,Austria,11906,11906,Afghanistan,3713242.0,0.320636

In [104]:
Keys_json ={}
origin = "Afghanistan";
destination = {}
for i in range(len(Keys_df)):
    row = Keys_df_2.loc[i,:]
    if (row['Origin'] == origin): 
        destination[row['Destination']] = {
            'Refugees': row['Refugees(and refugee-like)'],
            'Pct_to_Dest': row['Pct_to_Dest']
        }
    else:
        # Set the destination objects
        Keys_json[row['Origin']] = destination
        destination = {}
        destination[row['Destination']] = {
            'Refugees': row['Refugees(and refugee-like)'],
            'Pct_to_Dest': row['Pct_to_Dest']
        }
        origin = row['Origin']


pprint.pprint(Keys_json)

{'Central African Rep.': {'Austria': {'Pct_to_Dest': 0.32063625263314377,
                                      'Refugees': 11906},
                          'Germany': {'Pct_to_Dest': 0.7490489442918075,
                                      'Refugees': 27814},
                          'Iran (Islamic Rep. of)': {'Pct_to_Dest': 25.58411221245478,
                                                     'Refugees': 950000},
                          'Pakistan': {'Pct_to_Dest': 40.52824997670499,
                                       'Refugees': 1504912},
                          'Sweden': {'Pct_to_Dest': 0.32559149120902975,
                                     'Refugees': 12090}},
 'Colombia': {'Cameroon': {'Pct_to_Dest': 14.803144113707505,
                           'Refugees': 220702},
              'Chad': {'Pct_to_Dest': 6.156160688115269, 'Refugees': 91783},
              'Congo': {'Pct_to_Dest': 1.4551486236956817, 'Refugees': 21695},
              'Dem. Rep. of the Congo': {'Pct_to_Dest': 4.572030695285372,
                                         'Refugees': 68165},
              'Sudan': {'Pct_to_Dest': 0.27587122789860974, 'Refugees': 4113}},
 'Eritrea': {'Canada': {'Pct_to_Dest': 0.25631944130225504, 'Refugees': 16428},
             'Costa Rica': {'Pct_to_Dest': 0.2593619474535784,
                            'Refugees': 16623},
             'Ecuador': {'Pct_to_Dest': 1.8928600962056046, 'Refugees': 121317},
             'Panama': {'Pct_to_Dest': 0.24263596491912393, 'Refugees': 15551},
             'Venezuela (Bolivarian Republic of)': {'Pct_to_Dest': 2.707346794212685,
                                                    'Refugees': 173519}},
 'Iraq': {'Ethiopia': {'Pct_to_Dest': 29.68469721532101, 'Refugees': 123784},
          'Israel': {'Pct_to_Dest': 7.834127905303648, 'Refugees': 32668},
          'Sudan': {'Pct_to_Dest': 26.186342315034196, 'Refugees': 109196},
          'Sweden': {'Pct_to_Dest': 3.3830060720006903, 'Refugees': 14107},
          'Switzerland': {'Pct_to_Dest': 3.858790012374219, 'Refugees': 16091}},
 'Somalia': {'Germany': {'Pct_to_Dest': 1.0027532051102488, 'Refugees': 41167},
             'Iran (Islamic Rep. of)': {'Pct_to_Dest': 0.7794617670349543,
                                        'Refugees': 32000},
             'Jordan': {'Pct_to_Dest': 0.7127934277732458, 'Refugees': 29263},
             'Sweden': {'Pct_to_Dest': 0.5890782304366666, 'Refugees': 24184},
             'Syrian Arab Rep.': {'Pct_to_Dest': 3.561165948140947,
                                  'Refugees': 146200}}}

In [110]:
## Save the json somewhere -- not working yet

NameError: name 'alerts' is not defined